*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

/* Pre-Loader */
#loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black url(loader.gif) no-repeat center;
    object-fit: cover;
    z-index: 9999;
  }
/* First page deco */
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

.container{
    background: url(bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* Title and underline */
.main-title{
    font-size: 5.5rem;
    position: absolute;
    color: rgb(177, 177, 177);
    text-shadow: gray 1px 1px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
    animation: animate linear 3s;
    animation-delay: 1.7s;
}
.main-title:after{
    content: "";
    display: block;
    height: 3px;
    width: 400px;
    background-color: #646464;
    justify-content: center;
    margin: 20px auto 0px;
}

@keyframes animate {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Scroll button */

.scroll-down{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animate linear 5s;
    animation-delay: 1.7s;
    opacity: 0.8;
}
.scroll-down:hover {
    cursor: pointer;
    opacity: 1;
}

.mouse{
    width: 2.5rem;
    height: 5rem;
    border: 2px solid white;
    border-radius: 2.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    background-color: transparent;
}
.mouse span{
    width: 1rem;
    height: 1rem;
    background-color: white;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
    animation-delay: 4.5s;
}

.arrow span{
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color:white;
    border-bottom-color:white;
    transform: rotate(45deg);
    animation: arrow-down 0.5s alternate infinite;
    animation-delay: 1.7s;
}

@keyframes move-wheel{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* AIM content deco */
#aim{
    background: url(bg3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aim h3{
    font-size: 4rem;
    position: absolute;
    color: rgb(189, 189, 189);
    text-shadow: rgb(0, 0, 0) 1px 1px;
    text-align: center;
    top: 120%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}
#aim h3::after{
    content: "";
    display: block;
    height: 0.4rem;
    width: 2.8rem;
    background-color: #ffffff;
    margin: 10px auto 0px;
}
#more, #less {
    cursor: pointer;
    display: none;
    text-decoration: underline;
}
@media (max-width: 600px){
    .main-title {
        font-size: 3rem;
    }
    .main-title:after{
        content: "";
        display: block;
        height: 3px;
        width: 350px;
        background-color: #646464;
        justify-content: center;
        margin: 20px auto 0px;
    }
    #aim h3 {
        font-size: 3rem;
    }
    .aim-content p {
        font-size: 1.5rem;
    }
    #expand, #less {
        display: none;
    }
    #more {
        display: inline;
    }

    .shortp{
        font-size: 1.1rem;
        margin-top: 5.5rem;
    }

}

.aim-content{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding: 5rem;
    padding-top: 15rem;
    text-align: center;
    color: white;
}
.aim-content:after{
    content: "";
    display: block;
    height: 3px;
    width: 50vw;
    background-color: #ffffff;
    margin: 60px auto 0px;
}


/* Main content deco */
#main{
    background: linear-gradient(to right, #5d5d5d, #7f7c86);
    width: 100vw;
    height: max-content;
    padding-bottom: 20px;
}

.talent{
    display: flex;
    padding-top: 2rem;
}

.talent h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    position: absolute;
    color: rgb(182, 182, 182);
    text-align: center;
    margin-top: 3rem;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}

.shortp{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    position: absolute;
    color: rgb(182, 182, 182);
    text-align: center;
    margin-top: 4.5rem;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15%;
}

.card {
    background:rgba(68, 68, 68, 0.6);
    border: transparent 2px solid;
    border-radius: 20px;
    width: 80vw;
    margin: 40px;
    padding: 30px;
    height: 8rem;
    overflow: hidden;
    transition: height 0.8s ease;
}

.initial {
    display: flex;
}

.card:first-child {
    margin-top: 80px;
}

.t1{
    color: rgb(206, 206, 206);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 5;
    min-width: 0;
    overflow: hidden;
}

.name{
    margin: auto;
    text-shadow: 2px 2px 3px #000000;
    width: max-content;
    border-radius: 4px;
    top: 0;
    font-size: 1.2em;
    overflow: ellipsis;
}
.name:after{
    content: "";
    display: block;
    height: 3px;
    width: max-content;
    background-color: #000000;
    justify-content: center;
    margin: 20px auto 0px;
}
.account{
    color: rgb(206, 206, 206);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    text-shadow: 2px 2px 3px #000000;
    width: max-content;
    margin: auto;
}

@media (max-width: 600px){
    .t1{
        justify-content: center;
        text-align: center;
        align-content: center;
    }
    .name{
        display: inline;
        font-size: 0.8rem;
    }
    .feed{
        justify-content: center;
        text-align: center;
        align-content: center;
    }
    .account{
        font-size: 0.6rem;
        display: inline;
    }
    .nameLine::after{
        display: none;
    }
}

.toggleDown, .toggleUp:hover{
    cursor: pointer;
}

.toggle {
    transform: rotate(45deg);
    max-height: 20px;
    max-width: 20px;
    height: 20px;
    width: 20px;
    flex: 1;
    margin: 20px;
}
.toggleUp {
    border-top:2px solid black;
    border-left: 2px solid black;
}
.toggleDown {
    border-bottom:2px solid black;
    border-right: 2px solid black;
}
.nameLine::after{
    content: "";
    display: block;
    height: 0.2rem;
    width: 4rem;
    background-color: #ffffff91;
    margin: 10px auto 0px;
    box-shadow: 1px 1px 2px #000000;
}

.toggled {
    height: 85vh;
}

.feed {
    margin-top: max(5rem,5vh);
    height: 85vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.feed::-webkit-scrollbar {
    display: none;
}

span {
    display: inline-block;
    margin-top: 0.4rem;
}

.referral{
    display: none;
}

/* Footer designs */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding-top: 24px;
}
footer > div {
    color: #adadad;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}
footer a:hover {
    text-decoration: underline;
}
#copyR8 {
    background-color: #000000;
    width: 100vw;
    margin-bottom: 0;
    font-size: 12px;
    padding: 5px;
}