*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

/* Pre-Loader */
#loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black url(loader.gif) no-repeat center;
    object-fit: cover;
    z-index: 9999;
  }
/* First page deco */
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

.container{
    background: url(bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

/* Title and underline */
.main-title{
    font-size: 5.5rem;
    position: absolute;
    color: rgb(177, 177, 177);
    text-shadow: gray 1px 1px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
    animation: animate linear 3s;
    animation-delay: 1.7s;
}
.main-title:after{
    content: "";
    display: block;
    height: 3px;
    width: 400px;
    background-color: #646464;
    justify-content: center;
    margin: 20px auto 0px;
}

@keyframes animate {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Scroll button */

.scroll-down{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animate linear 5s;
    animation-delay: 1.7s;
    opacity: 0.8;
}
.scroll-down:hover {
    cursor: pointer;
    opacity: 1;
}

.mouse{
    width: 2.5rem;
    height: 5rem;
    border: 2px solid white;
    border-radius: 2.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    background-color: transparent;
}
.mouse span{
    width: 1rem;
    height: 1rem;
    background-color: white;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
    animation-delay: 4.5s;
}

.arrow span{
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color:white;
    border-bottom-color:white;
    transform: rotate(45deg);
    animation: arrow-down 0.5s alternate infinite;
    animation-delay: 1.7s;
}

@keyframes move-wheel{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* AIM content deco */
#aim{
    background: url(bg3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aim h3{
    font-size: 4rem;
    position: absolute;
    color: rgb(189, 189, 189);
    text-shadow: rgb(0, 0, 0) 1px 1px;
    text-align: center;
    top: 120%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}
#aim h3::after{
    content: "";
    display: block;
    height: 0.4rem;
    width: 2.8rem;
    background-color: #ffffff;
    margin: 10px auto 0px;
}
#more, #less {
    cursor: pointer;
    display: none;
    text-decoration: underline;
}
@media (max-width: 600px){
    #aim h3 {
        font-size: 3rem;
    }
    .aim-content p {
        font-size: 1.5rem;
    }
    #expand, #less {
        display: none;
    }
    #more {
        display: inline;
    }
}

.aim-content{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding: 5rem;
    padding-top: 15rem;
    text-align: center;
    color: white;
}
.aim-content:after{
    content: "";
    display: block;
    height: 3px;
    width: 50vw;
    background-color: #ffffff;
    margin: 60px auto 0px;
}


/* Main content deco */
#main{
    background: linear-gradient(to right, #5d5d5d, #7f7c86);
    width: 100vw;
    height: max-content;
}

.talent{
    display: flex;
    padding-top: 2rem;
}

.talent h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    position: absolute;
    color: rgb(182, 182, 182);
    text-align: center;
    margin-top: 3rem;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}
#main p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    position: absolute;
    color: rgb(182, 182, 182);
    text-align: center;
    margin-top: 4.5rem;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15%;
}

.card {
    background:rgba(68, 68, 68, 0.6);
    border: transparent 2px solid;
    border-radius: 20px;
    width: 80vw;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.card:first-child {
    margin-top: 100px;
}

.t1{
    color: rgb(255, 255, 255);
    flex: 5;
}

.toggle {
    transform: rotate(45deg);
    max-height: 20px;
    max-width: 20px;
    height: 20px;
    width: 20px;
    border-bottom:1px solid black;
    border-right: 1px solid black;
    flex: 1;
    margin-right: 20px;
}